/* General */
  body {
    Font-family: Arial ,sans-serif;
    margin:  0;
    padding: 0;
    line-height: 1.0;
    background-color:pink;
    color: black;
  }
  .header {
    background: rgb(pink);
    color: black;
    text-align: Center;
    padding: 10px 10px;
  } 
  .profile-img {
    width: 400px;
    height: 400px;
    border-radius: 80%;
    object-fit: cover;
    border: 10px black;
    box-shadow: 020x 8px rgba(170, 41, 41, 0.1);
    margin-bottom: 20px;
}
  .name {
    Font-size: 4.5em;
    margin:0;
  }
  .tagline {
    Font-size: 2.5em;
    margin:0;
  }
  section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto ;
  }
  .about {
    background: black
    border-radius: 10 px;
    box-shadow: 0 2px 8px rgba (0,0,0,0.1
    margin- botton: 20px;
  }


